.idea
JunctionX/__pycache__
userhandler_app/__pycache__
userhandler_app/migrations/__pycache__
.DS_Store
basic_app/__pycache__
basic_app/migrations/__pycache__
statistics_app/__pycache__
statistics_app/migrations/__pycache__
children_app/__pycache__
children_app/migrations/__pycache__
qrcode_app/__pycache__
qrcode_app/migrations/__pycache__
tale_app/__pycache__
tale_app/migrations/__pycache__
tale_app/migrations/__pycache__
tale_app/__pycache__

azure_app/__pycache__/

__pycache__/
