<!DOCTYPE html>
{% extends "tale_app/talebase.html" %}

{% block body_block%}
{%load static%}
<body>
    <div class="horizontalcenter">
         <h1 class="myText"> {{ item.tasktext }}</h1>
        <img src="{{ item.taskimage.url }}"  style="width: 200px; height: 200px;" alt="img">
        <div id="wrap" >
            <div id="over" >

            </div>
            <div id="under">
                <div>
                    {% for emoji in emojis %}
                        <input type="image" src="{{emoji.image.url}}" alt="Submit" width="95" height="95" id="{{emoji.emotionid}}" class="myEmotionButton post_emotion">
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>




</body>
</html>
{% csrf_token %}
{{ next_content_url|json_script:"next_content_url" }}

<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src = "{% static 'js/contentswitch.js' %}"></script>

{% endblock %}