<!DOCTYPE html>
{% extends "tale_app/talebase.html" %}

{% block body_block%}
{%load static%}
<body>
    <div class="text-center">
        <video autoplay controls id="myVideo" >
            <source src="{{ item.mp4.url }}" type="video/mp4">
        </video>
    </div>

</body>
</html>
{% csrf_token %}
{{ next_content_url|json_script:"next_content_url" }}

<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src = "{% static 'js/contentswitch.js' %}"></script>

{% endblock %}